@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Shrikhand&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 0px;
}
h1,h2,h3 {
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 800;
}
a {
	text-decoration: none;
}